.homepage{
    width: 80%;
    display: flex;
    align-items: flex-start;
    margin-left: 20%;

}
.homepage--left{
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.homepage_banner{
    border-radius: 15px;
}

.homepage_grid{
    display: grid;
    width: auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    padding: 30px 0;
}